<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
  <!-- Console appender-->
    <Console name="Console" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d %p %c [%t]  %m%n"/>
    </Console>
    <!-- File appender with append="false"-->
 
    <File name="File" fileName="logs/application.log" append="false"> 
      <JsonTemplateLayout/>
    </File>
    <File name="DEBUG_LOG" fileName="logs/debug.log"> 
         <PatternLayout pattern="%d %p %c [%t]  %m%n"/>
    </File>
  </Appenders>
  <Loggers>
  <!-- Root Logger -->
    <Root level="debug"> 
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
   
  </Loggers>
</Configuration>